[client]
default-character-set=utf8
[mysqld]
group_concat_max_len=100000
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql
bind-address=0.0.0.0
character-set-server=utf8
general_log=0
general_log_file=/home/log/mysql/mysql.log
sql_mode=
#innodb_file_per_table=1
#innodb_default_row_format=DYNAMIC
#innodb_file_format=Barracuda
#innodb_file_format_max=Barracuda
init-connect = SET NAMES utf8
default-authentication-plugin = mysql_native_password